body{
	background: url(http://www.diyphotography.net/wordpress/wp-content/uploads/2014/03/adam-elmakias-08.jpg) no-repeat;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	background-attachment: fixed;
  	margin: 0;
  	background-size: cover;
}
.formLogin{
	width: 70%;
	margin: 0 auto;
	padding: 20px;
}
.btnLogin{
	width: 50%;
	text-align: center;
	text-decoration: none;
	color: #000000;
	background: #95C300;
	border: 2px solid #000;
	font-weight: bold;
	padding: 10px 0;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 25px;
	max-width: 300px;
}
#app{
	width: 100%;
}
.itemForm{
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.photoUser{
	width: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	border: #FFF 1px solid;
}

.itemUser{
	width: 100%;
	background: rgba(0,0,0,0.5);
	float: left;
}
.itemUser h3{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    float: left;
    width: 100%;
    font-family: sans-serif;
    border: #FFF 1px solid;
    color: #FFF;
    margin: 0;
    padding: 10px 0;
}
.itemUser p{
    font-size: 16px;
    text-align: center;
    float: left;
    width: 100%;
    font-family: sans-serif;
    border: #FFF 1px solid;
    color: #FFF;
    margin: 0;
    padding: 10px 0;
}
.itemUser .btnPlayList{
    width: 100%;
    padding: 10px 0;
    display: flex;
  	align-items: center;
  	justify-content: center;
}
.trackItem{
	font-size: 16px;
    text-align: center;
    float: left;
    width: 100%;
    font-family: sans-serif;
    border: #FFF 1px solid;
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    color: #000;
    margin: 0;
    padding: 10px 0;
    background: #FFF;
    display: flex;
    align-items: center;
}
.trackItem img{
	color: #FFF;
    width: 15%;
    float: left;
    padding: 10px;
    max-width: 60px;
}
.textTrack{
	float: left;
	padding:0 10px;
	width: 93%;
}
.textTrack span{
	font-size: 14px;
	text-align: left;
	float: left;
    margin-left: 5px;
}
audio{
	width: 100%;
}
.header{
	float: left;
	width: 100%;
	background: rgba(0,0,0,0.6);
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.header ul{
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.header ul li{
	float: left;
	padding: 10px;
	border: #FFF 1px solid;
	border-bottom:none;
}
.header ul li a{
	text-decoration: none;
	color: #FFF;
	font-family: sans-serif;
	font-weight: bold;
}
.btnSearch{
	float: right;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	color: #000000;
	background: #95C300;
	border: 2px solid #000;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px;
	margin: 10px 0;
}
#inputSearch{
	float: left;
	width: 60%;
	padding: 10px;
	margin: 10px 0;
}